@tailwind base;
@tailwind components;
@tailwind utilities;

#cover {
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  /* display: flex; */
  min-height: 100vh;
  background-repeat: no-repeat;
  block-size: cover;
}
